* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:#292026;

}

body {
  font-family: 'Montserrat', sans-serif;
}

nav {
  font-family: 'Lato', sans-serif !important;
}

.button-color {
  background-color:#292026;
  color:#fff;
}

.logo {
  width:130px;
}


/*Home*/

.dist {
  font-family: 'Lobster', cursive;
  font-size:1.5em;
}


#dist {
  font-family: 'Lobster', cursive;
  font-size:3.5em;
}

.homebgimage {
  width:100%;
  height:70vh;
  background: url(../images/bg4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}


.homebgimage2 {
  min-width:100%;
  min-height:30vh;
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.headertext {
  min-height:30vh;
}

.p-color {
  color:white;
}

.imghome {
  width:100%;
  border-radius:10px;
}

.distabout {
  font-size:1.25em;
}

.icons {
  background-color: rgba(139, 134, 138, 0.7);
  border-radius: 10px;

}

.headings {
  color:#292026;
  font-family: 'Lobster', cursive;
  font-size:3em;
}

/*End Home*/










/*Contact Us*/


.bgimage {
  width:100%;
  height:500px;
  background: url(../images/contactus1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.bgimage h1,
.bgimage h3 {
  color:white;
}

.bgcontact {
}

/*End Contact Us*/




/*Start Footer*/

footer {
  background:#343a40;
}

.footerlinks {
  color:white;
}

.footercolor {
  color:white !important;
}


/*End Footer*/


/*Product Page*/
.products {
  min-height: 70vh;
}

.atc {
  width:120px;
}

.atch {
  width:120px;
}

.card-body {
  padding: 0.5rem 1rem 0.75rem 1rem !important;
}

.productlinks {
  text-decoration: none;
  color:#555;
  font-weight: bold;
  font-size: 1em;
  font-family: 'Lato', sans-serif !important;
}

.productlinksall {
  text-decoration: none;
  color:#555;
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif !important;

}

.products-nav {
  border-bottom: 1px solid #ebebeb;
}

h6 {
  font-weight: bold;
}

.productsmalltext {
  font-size:14px;
  line-height: 19px;
}



/*End Product Page*/



/*Footer*/

.socials {
  color:white !important;
}

.white-hr {
  background-color:lightgrey;
}

h6 > a:hover {
  text-decoration:none;
  color:#888 !important;
}


hr {
  margin-bottom: 0px !important;
}




/*End Footer*/


/*Navbar*/

.nav-icons {
  color: white;
}

.navbar-nav {
  font-weight: bold;
  font-size:1.1em;
}

/*End Navbar*/




/*Media*/

@media (max-width: 575.98px) { 
  .promopb {
    padding-bottom: 30px;
  }
  .contacttext > ul > li {
    list-style: none;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {

}


@media (min-width: 768px) and (max-width: 991.98px) {
    .contacttext {
    font-size:14px;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {

}


@media (min-width: 1200px) { 

}